/* segmentalLeanAnalysis */

.segmental-lean-analysis-section .skeletonImgHuman {
  background-image: url("../images/humanbody.png");
  background-repeat: no-repeat;
  height: 556px;
  width: 337px;
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  margin-top: -67px;
}

.segmental-lean-analysis-section .skeletonImgArm {
  background-image: url("../images/humanbodyArm.png");
  background-repeat: no-repeat;
  height: 556px;
  width: 337px;
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  margin-top: -67px;
}

.segmental-lean-analysis-section .skeletonImgLeg {
  background-image: url("../images/humanbodyLeg.png");
  background-repeat: no-repeat;
  height: 556px;
  width: 337px;
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  margin-top: -67px;
}

.segmental-lean-analysis-section .skeletonImgTorso {
  background-image: url("../images/humanbodyimage.png");
  background-repeat: no-repeat;
  height: 556px;
  width: 337px;
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  margin-top: -67px;
}

.text-box {
  background-color: #fff !important ;
  color: rgb(24, 78, 224) !important;
}

.text-color {
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
}
